#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.workspace {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #c3c3c3;
}

.column {
  flex: 1;
  background-color: rgb(124, 116, 116);
  min-width: 200px;
  max-width: 400px;
  padding: 15px;
  margin: 0 10px 20px;
  height: 100%;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.column-button {
  width: 100%;
}

.card {
  display: flex;
  background-color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;

  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.75);

  overflow: hidden;
  text-overflow: ellipsis;
}

.card-button {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.add-task-form {
  display: flex;
  flex-direction: column;
  padding: 25px 0 0 0;
}

.task-textarea {
  width: 95%;
  padding: 8px;
  min-height: 80px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  outline: none;
  font-size: 14px;
  margin-bottom: 10px;
}

.button-group {
  text-align: start;
}

.add-button {
  width: 200px;
  margin-right: 15px;
  /* background-color: #478ef1; */
}

/* .close-button {
} */
